@import url(https://fonts.googleapis.com/css?family=Saira);
@import url("/css/bootstrap.min.css");

$tespa-green: #4AC32D;
$tespa-black: #262626;
$tespa-white: #FFFFFF;
$tespa-grey: #EEEEEE;

body {
    font-family: Saira, serif;
    padding: 0px; margin: 0px;
    background: $tespa-black;
    color: $tespa-white;
}